@if (facade.selectedCard()) {
<app-card-detail
  [imageUrl]="facade.selectedCard().images.large"
  [imageAlt]="facade.selectedCard().name"
  [similarCards]="facade.normalizedSimilarCards()"
  [showSpinner]="facade.isDetailLoading()"
  [pageIndex]="facade.similarPageIndex()"
  [pageSize]="facade.similarPageSize()"
  [totalItems]="facade.similarCardsTotal()"
  (pageChange)="facade.changeSimilarPage($event)"
>
  <div card-form>
    <form [formGroup]="form" (ngSubmit)="onSubmitCardsDetail()">
      <mat-form-field class="full-width" appearance="outline" subscriptSizing="dynamic">
        <mat-label for="artist">Artist:</mat-label>
        <input
          matInput
          formControlName="artist"
          id="artist"
          class="form-control"
          data-cy="artist"
        />
        @if (valueForm['artist'].hasError('required')) {
          <mat-error>Name is required.</mat-error>
        }
        @if (valueForm['artist'].hasError('minlength')) {
          <mat-error>Name should be 3 characters.</mat-error>
        }
      </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" subscriptSizing="dynamic">
          <mat-label for="hp">Hp</mat-label>
          <input
            matInput
            formControlName="hp"
            id="hp"
            class="form-control"
            data-cy="hp"
          />
          @if (valueForm['hp'].hasError('required')) {
            <mat-error>Hp is required.</mat-error>
          }
        </mat-form-field>

          <mat-form-field class="full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label for="nationalPokedexNumbers">National Pokedex Numbers:</mat-label>
            <input
              matInput
              formControlName="nationalPokedexNumbers"
              id="nationalPokedexNumbers"
              class="form-control"
              data-cy="nationalPokedexNumbers"
            />
            @if (valueForm['nationalPokedexNumbers'].hasError('required')) {
              <mat-error>National Pokedex Numbers is required.</mat-error>
            }
          </mat-form-field>

              <mat-form-field class="full-width" appearance="outline" subscriptSizing="dynamic">
                <mat-label for="number">Number</mat-label>
                <input
                  matInput
                  formControlName="number"
                  id="number"
                  type="number"
                  class="form-control"
                  data-cy="number"
                  />
                  @if (valueForm['number'].hasError('required')) {
                    <mat-error>Number is required.</mat-error>
                  }
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline" subscriptSizing="dynamic">
                  <mat-label for="rarity">Rarity</mat-label>
                  <input
                    matInput
                    formControlName="rarity"
                    id="rarity"
                    class="form-control"
                    data-cy="rarity"
                    />
                    @if (valueForm['rarity'].hasError('required')) {
                      <mat-error>Rarity is required.</mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field class="full-width" appearance="outline" subscriptSizing="dynamic">
                    <mat-label for="types">Type</mat-label>
                    <input
                      matInput
                      formControlName="types"
                      id="types"
                      class="form-control"
                      data-cy="types"
                      />
                      @if (valueForm['types'].hasError('required')) {
                        <mat-error>Type is required.</mat-error>
                      }
                    </mat-form-field>
                    <button
                      class="button"
                      data-cy="submit"
                      [disabled]="form.invalid"
                      type="submit"
                      >
                      Submit
                    </button>
                  </form>
                </div>
                <h2 similar-cards-title style="text-align: center; margin-bottom: 20px;">{{ types }} Type Pokemons</h2>
              </app-card-detail>
              }
