<body>
  <app-card-list
    [cards]="facade.normalizedCards()"
    [pageIndex]="facade.pageIndex()"
    [pageSize]="facade.pageSize()"
    [totalItems]="facade.validCards().length || 0"
    [showSpinner]="facade.isListLoading()"
    [errorMessage]="facade.listError()"
    [showSourceChangeButton]="false"
    [searchQuery]="facade.searchQuery()"
    [allPokemonNames]="facade.pokemonNames()"
    (pageChange)="onPageChange($event)"
    (reload)="facade.loadAllCards()"
    (search)="facade.setSearchQuery($event)"
  ></app-card-list>
</body>
