header {
  padding: 20px 0px;
  background-color: #5793ec;
}
header h1 {
  padding-left: 40%;
  display: inline-block;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  text-align: center;
}
header button {
  margin-left: 1%;
  padding: 6px 50px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
}
.button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: black;
}
