.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #5793ec;
}

.title {
  flex: 1;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  font-size: 28px;
}

.back-button {
  padding: 6px 40px;
  font-size: 18px;
  border-radius: 8px;
}

.back-button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: black;
}

.right-space {
  width: 120px;
}
