<header class="header">
  <div class="header-left">
    <button
      class="back-button"
      (click)="goBack()"
      [disabled]="isHomePage()"
      data-cy="back"
    >
      <div class="btn-content">
        <span class="icon">←</span>
        <span>Back</span>
      </div>
    </button>

    @if (isDetailPage()) {
      <button
        class="back-button catalog-button"
        (click)="goOverview()"
      >
        <div class="btn-content">
          <span class="icon">▤</span>
          <span>Katalog</span>
        </div>
      </button>
    }
  </div>


  <h1 class="title">Pokedex</h1>

  <div class="header-right"></div>
</header>
