@if (similarCards() && similarCards().length > 0) {
<section class="similar-cards-container" aria-labelledby="similar-title">
  <div id="similar-title">
    <ng-content select="[similar-cards-title]"></ng-content>
  </div>
  <div class="similar-grid" role="list">
    @for (card of similarCards(); track card.id) {
    <mat-card class="card similar-card" [routerLink]="card.routerLink" role="listitem" [attr.aria-label]="'Pokemon details: ' + card.name">
      <mat-card-header>
        <mat-card-title class="title-card">{{ card.name }}</mat-card-title>
      </mat-card-header>
      <div class="image-container">
        <div class="card-placeholder">
          <img 
            appImgLoader
            class="similar-img fade-in" 
            [src]="card.imageUrl || 'assets/images/card-back.png'" 
            [alt]="card.name" 
          />
        </div>
      </div>
    </mat-card>
    }
  </div>

  @if (totalItems() > pageSize()) {
    <app-action-bar
      [pageIndex]="pageIndex()"
      [pageSize]="pageSize()"
      [totalItems]="totalItems()"
      (pageChange)="onPageChange($event)"
    ></app-action-bar>
  }
</section>
}
