<mat-card class="card-detail-layout">
  <div class="card-header-split">
    <div class="card-image-panel">
      <div class="card-placeholder" style="max-width: 400px; margin: 0 auto;">
        <img 
          appImgLoader
          class="fade-in"
          [src]="imageUrl() || 'assets/images/card-back.png'" 
          [alt]="imageAlt()" 
        />
      </div>
    </div>

    <div class="card-form-panel">
      <ng-content select="[card-form]"></ng-content>
    </div>
  </div>
</mat-card>


<app-similar-cards
  [similarCards]="similarCards()"
  [totalItems]="totalItems()"
  [pageSize]="pageSize()"
  [pageIndex]="pageIndex()"
  (pageChange)="onPageChange($event)"
>
  <ng-content select="[similar-cards-title]"></ng-content>
</app-similar-cards>

<div class="loading-cards" data-cy="spinner" role="status" [attr.aria-busy]="showSpinner()">
  @if (showSpinner()) {
  <mat-spinner aria-label="Loading card details"></mat-spinner>
  }
</div>
