<mat-card class="card-detail-layout">
  <div class="card-header-split">
    <div class="card-image-panel">
      <img [src]="imageUrl() || 'assets/images/card-back.png'" [alt]="imageAlt()" (error)="$any($event.target).src = 'assets/images/card-back.png'" />
    </div>

    <div class="card-form-panel">
      <ng-content select="[card-form]"></ng-content>
    </div>
  </div>
</mat-card>


<app-similar-cards
  [similarCards]="similarCards()"
  [totalItems]="totalItems()"
  [pageSize]="pageSize()"
  [pageIndex]="pageIndex()"
  (pageChange)="onPageChange($event)"
>
  <ng-content select="[similar-cards-title]"></ng-content>
</app-similar-cards>

<div class="loading-cards" data-cy="spinner">
  @if (showSpinner()) {
  <mat-spinner></mat-spinner>
  }
</div>
