.card:hover {
  cursor: pointer;
  background-color: #5793ec;
  color: black;
}
.header {
  padding-top: 60px;
  text-align: center;
  color: #a32020;
  font-weight: bold;
  font-size: 100px;
}
pagination-controls {
  margin: 5%;
  text-align: center;
}
.card {
  padding: 2%;
  max-width: 170px;
  display: inline-block;
  margin-left: 6%;
  margin-top: 5%;
}

.loading-cards {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
